In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset=dataset.astype(int)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [8]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset["Purchased"]

In [9]:
indep.shape

(400, 3)

In [10]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int32

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
from sklearn.model_selection import GridSearchCV

param_grid={'n_neighbors':[3,5,7,9],
            'weights':['uniform','distance'],
            'algorithm':['auto','ball_tree','kd_tree','brute'],
            'metric':['minkowski','euclidean','manhattan',]}

grid=GridSearchCV(KNeighborsClassifier(),  param_grid, refit=True, verbose=3, n_jobs=-1,scoring='f1')

grid.fit(x_train,y_train)

NameError: name 'p' is not defined

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['gini','entropy'],
            'max_features':['auto','sqrt','log2'],
            'n_estimators':[10,100]}

grid=GridSearchCV(RandomForestClassifier(),  param_grid, refit=True, verbose=3, n_jobs=-1,scoring='f1')

grid.fit(x_train,y_train)

In [21]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)

from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

In [22]:
table=pd.DataFrame.from_dict(re)

In [23]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_metric,param_n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009011,0.007367,0.018631,0.006027,euclidean,1,"{'metric': 'euclidean', 'n_neighbors': 1}",0.777778,0.645161,0.555556,0.648649,0.650000,0.655429,0.070887,13
1,0.006735,0.005392,0.021277,0.005285,euclidean,3,"{'metric': 'euclidean', 'n_neighbors': 3}",0.756757,0.727273,0.628571,0.717949,0.648649,0.695840,0.048867,1
2,0.004793,0.003929,0.016599,0.007147,euclidean,5,"{'metric': 'euclidean', 'n_neighbors': 5}",0.648649,0.628571,0.545455,0.800000,0.717949,0.668125,0.085866,8
3,0.007954,0.005377,0.016310,0.004067,euclidean,7,"{'metric': 'euclidean', 'n_neighbors': 7}",0.628571,0.736842,0.606061,0.750000,0.611111,0.666517,0.063371,10
4,0.006594,0.002044,0.015080,0.010027,euclidean,9,"{'metric': 'euclidean', 'n_neighbors': 9}",0.666667,0.702703,0.685714,0.800000,0.611111,0.693239,0.061636,3
5,0.008912,0.004694,0.018843,0.003021,euclidean,11,"{'metric': 'euclidean', 'n_neighbors': 11}",0.606061,0.647059,0.516129,0.731707,0.666667,0.633524,0.071355,19
6,0.004609,0.004126,0.018735,0.008880,euclidean,13,"{'metric': 'euclidean', 'n_neighbors': 13}",0.647059,0.666667,0.533333,0.750000,0.666667,0.652745,0.069480,17
7,0.004076,0.006061,0.020985,0.005150,euclidean,15,"{'metric': 'euclidean', 'n_neighbors': 15}",0.722222,0.750000,0.482759,0.750000,0.666667,0.674330,0.100503,6
8,0.002390,0.002712,0.015896,0.004816,euclidean,17,"{'metric': 'euclidean', 'n_neighbors': 17}",0.606061,0.774194,0.600000,0.731707,0.666667,0.675726,0.068556,5
9,0.004364,0.005676,0.019635,0.006384,euclidean,19,"{'metric': 'euclidean', 'n_neighbors': 19}",0.588235,0.764706,0.533333,0.722222,0.666667,0.655033,0.084795,15
10,0.008317,0.004958,0.010026,0.006312,manhattan,1,"{'metric': 'manhattan', 'n_neighbors': 1}",0.777778,0.645161,0.555556,0.648649,0.650000,0.655429,0.070887,13
11,0.001519,0.002260,0.019166,0.004170,manhattan,3,"{'metric': 'manhattan', 'n_neighbors': 3}",0.756757,0.727273,0.628571,0.717949,0.648649,0.695840,0.048867,1
12,0.003655,0.003405,0.017042,0.001562,manhattan,5,"{'metric': 'manhattan', 'n_neighbors': 5}",0.648649,0.628571,0.545455,0.800000,0.717949,0.668125,0.085866,8
13,0.003881,0.001237,0.017818,0.003096,manhattan,7,"{'metric': 'manhattan', 'n_neighbors': 7}",0.628571,0.736842,0.606061,0.750000,0.611111,0.666517,0.063371,10
14,0.002572,0.001880,0.018382,0.002225,manhattan,9,"{'metric': 'manhattan', 'n_neighbors': 9}",0.666667,0.702703,0.685714,0.800000,0.611111,0.693239,0.061636,3
15,0.000000,0.000000,0.023222,0.001570,manhattan,11,"{'metric': 'manhattan', 'n_neighbors': 11}",0.606061,0.647059,0.516129,0.731707,0.666667,0.633524,0.071355,19
16,0.004342,0.000927,0.012338,0.012414,manhattan,13,"{'metric': 'manhattan', 'n_neighbors': 13}",0.647059,0.666667,0.533333,0.750000,0.666667,0.652745,0.069480,17
17,0.003075,0.002716,0.019421,0.004307,manhattan,15,"{'metric': 'manhattan', 'n_neighbors': 15}",0.722222,0.709677,0.482759,0.750000,0.666667,0.666265,0.095606,12
18,0.003656,0.002253,0.020067,0.007130,manhattan,17,"{'metric': 'manhattan', 'n_neighbors': 17}",0.606061,0.750000,0.600000,0.731707,0.666667,0.670887,0.061973,7
19,0.005300,0.001082,0.018854,0.001615,manhattan,19,"{'metric': 'manhattan', 'n_neighbors': 19}",0.588235,0.764706,0.533333,0.722222,0.666667,0.655033,0.084795,15

In [24]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'metric': 'euclidean', 'n_neighbors': 3} 0.7681406676150806

In [26]:
print(cm)

[[70 15]
 [16 33]]

In [27]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.81      0.82      0.82        85
           1       0.69      0.67      0.68        49

    accuracy                           0.77       134
   macro avg       0.75      0.75      0.75       134
weighted avg       0.77      0.77      0.77       134